.bg_login {
    width: 100vw;
    height: 100vh;
    background-color: #369;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg_login .content {
    background-color: #fcf7f7;
    width: 500px;
    border: 1px solid #fff;
    border-radius: 1rem;

}

.bg_login .content h2 {
    text-align: center;
}

