.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #fff;
  .header {
    justify-content: space-between;
    background-color: white;
    border: 0.1px solid #c4bdbd;
    padding: 0 24px;
    .demo-logo {
      margin: 0;
      color: aqua;
      font-size: 3rem;
      padding-bottom: 1rem;
    }

    .menu {
      border-bottom: 0.1px solid #c4bdbd;
      margin: 0;

      width: 150px;
      /* margin-right: 10px; */
    }
  }
}
